@{
    ViewData["Title"] = "LandingPage";
}
@{
    var mensagem = ViewData["resposta"];
}
@model Cliente
<section id="logo">
    <div class="logo-layout">
        <div class="logo-img"></div>
    </div>
</section>
<section id="propaganda">
    <div class="propaganda-conteudo">
        <div class="propaganda-fx fx1"></div>
        <div class="propaganda-fx fx2"></div>
        <div class="propaganda-txt">
            <p class="propaganda-txt-big">Alto Padrão no<br> bairro Jardins</p>
            <p>Apartamentos de até 180m²<br> 2, 3 suítes e 2 vagas</p>
        </div>
        <div class="propaganda-img"></div>
    </div>
</section>
<section id="form">
    <div class="form-container">
        <div class="form-imagem">
            <div class="form-ajuste-img">
                <div class="form-img-txt">
                    <span>
                        Realize o seu sonho<br><span class="form-img-txt-big">Sua Nova <br>Casa o espera</span>
                    </span>
                    <p>Cadastre-se para concorrer a isenção de entrada na sua nova casa ou apartamento.<br> Não perca a
                        oportunidade!</p>
                </div>
            </div>
        </div>
        <div class="form-layout">
            <h3>Cadastre-se</h3>
            <form asp-action="CadastraCliente" method="post">
                <div class="form-group">
                    <label for="nome">Nome *</label>
                    <input name="nome" type="text" asp-for="@Model.Nome" minlength="5" maxlength="40" required />
                    <i class="fa-solid fa-check"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="form-group">
                    <label for="email">E-mail *</label>
                    <input name="email" type="email" asp-for="@Model.Email" maxlength="40" required />
                    <i class="fa-solid fa-check"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone *</label>
                    <input title="Telefone deve conter pelo menos 10 digitos com o DDD" pattern="^[0-9]{10,11}$"
                        name="telefone" type="tel" asp-for="@Model.Telefone" minlength="10" maxlength="11" required />
                    <i class="fa-solid fa-check"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="form-group">
                    <label for="nascimento">Data de nascimento</label>
                    <input name="nascimento" asp-for="@Model.Nascimento" type="date" />
                </div>
                <div class="form-estado-cidade">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select autocomplete="off" name="estado" id="form-estado" asp-for="@Model.Estado">
                            <option value="select-one">UF</option>
                        </select>
                    </div>
                    <div class="form-group cidade">
                        <label for="cidade">Cidade</label>
                        <input list="form-cidade" asp-for="@Model.Cidade" name="cidade">
                        <datalist id="form-cidade">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Bairro">Bairro</label>
                    <input name="bairro" type="text" maxlength="50" asp-for="@Model.Bairro" />
                    <i class="fa-solid fa-check"></i>
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="form-group">
                    <label for="renda">Renda média</label>
                    <select name="renda" id="form-renda" asp-for="@Model.Renda">
                        <option value="select-one">Selecione uma opção</option>
                        <option>R$ 1000 a R$ 2000</option>
                        <option>R$ 2000 a R$ 3000</option>
                        <option>R$ 3000 a R$ 4000</option>
                        <option>Maior que R$ 4000</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fgts">Possuí FGTS?</label>
                    <select name="fgts" id="form-fgts" asp-for="@Model.FGTS">
                        <option value="select-one">Selecione uma opção</option>
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genero">Gênero</label>
                    <select name="genero" id="form-genero" asp-for="@Model.Genero">
                        <option value="select-one">Selecione uma opção</option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                        <option>Outro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="estadocivil">Estado civil</label>
                    <select name="estadocivil" id="form-estado-civil" asp-for="@Model.EstadoCivil">
                        <option value="select-one">Selecione uma opção</option>
                        <option>Solteiro</option>
                        <option>Casado</option>
                        <option>Divorciado</option>
                        <option>Viúvo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="filhos">Filhos</label>
                    <select name="filhos" id="form-filhos" asp-for="@Model.Filhos">
                        <option value="select-one">Selecione uma opção</option>
                        <option>Nenhum</option>
                        <option>Um</option>
                        <option>Dois</option>
                        <option>Três ou mais</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-enviar">Enviar</button>
                </div>
            </form>
        </div>
        <dialog>
            <div class="dialog">
                <p class="dialogtxt">@mensagem</p>
                <button class="dialogbtn">Fechar</button>
            </div>
        </dialog>
    </div>
</section>